<h1 dir=rtl align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
شاخه و کلاف
</font>
</h1>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
مجموعه داده‌های این تمرین را می‌توانید از<a href="https://docs.google.com/spreadsheets/d/1WHi8Btw9YCuF0vbkBgphPoWb1rmxyZkA/edit?usp=drive_link&ouid=102809079943831791310&rtpof=true&sd=true">این‌جا(Steel)</a> و <a href="https://docs.google.com/spreadsheets/d/1MdzmRdPKIAZMPu3XlnognXFPf8t6_XPa/edit?usp=drive_link&ouid=102809079943831791310&rtpof=true&sd=true">اینجا (Dimdate)</a> دریافت کنید.



<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
فولاد نورد گرم یا  Hot rolled steel به فولادی گفته می‌شود که در دمای بسیار بالا (بیش از ۱۷۰۰ درجه فارنهایت) که بیش از دمای تبلور مجدد برای بیشتر فولادها است، تحت فشار قرار گرفته باشد. این امر باعث سهولت در شکل گیری فولاد و در نتیجه تولید محصولاتی می‌شود که از لحاظ شکل ظاهری دارای تنوع بالاتری هستند.



<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
یک شرکت نورد گرم فولادی به دلیل شرایط بازار و همچنین تنوع فروش و حجم بالای فروش، نیاز به گزارش‌های متنوع و پویا پیدا کرده است.
به صورت کلی فرایند تولید و فروش در این صنعت به این صورت است که شمش های فولادی وارد سیستم شده، نورد می‌شود و مقاطع نورد
شده در اختیار مشتریان قرار می‌گیرد. مشتری تعدادی بندل(به بسته بندی میلگرد در کارخانه بندل گفته می‌شود) سفارش می‌دهد؛ اما فروش به تناژ اتفاق می‌افتد و هزینه به صورت کیلوگرم
دریافت می‌شود. هر بندل معادل یک شمش به وزن ۲ تن است که در فرایند تولید به صورت تمام استفاده نمی‌شود و وزن تولید از وزن
سفارش کمتر است. در نتیجه میزان اختلاف وزن بندل و تناژ فروش، میزان ضایعات را مشخص می‌کند.
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در ابتدا لازم است پس از وارد کردن کتابخانه‌ها، نگاهی اجمالی به دیتافریم داشته باشیم.
 با توجه به اینکه فایل اکسل شامل دو صفحه ی مجزا می‌باشد، لازم است هر دو صفحه را بازخوانی کرده و در دو متغیر جدا ذخیره کنید.
 نام این صفحات Transaction و Customer می‌باشد.
 در نهایت فایل Dimdate را نیز بازخوانی و ذخیره کنید.
</font>
</p>

In [3]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
جدول Transaction : دارای 13 ستون به شرح زیر است.
</font>    
</p>

<center>
<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>

| نام ستون | مقدار |
| :--: | :--: |
| Transaction_ID | شناسه تراکنش |
| Product_ID | شناسه محصول |
| Export | محصول برای صادرات است  یا مصرف داخلی دارد|
| Industry | نوع صنعت مشتری را مشخص می‌کند |
|City_Category|  دسته‌بندی مکان نسبت به استان دفتر مرکزی مشتری |
| Stay_In_Customer | تعداد روزی که سفارش مشتری در کارخانه مانده است|
| Material_Status | محصول مشتری از انبار تأمین شده و یا روی خط تولید قرار گرفته است |
| Payment |میزان پرداخت سفارش به ریال است |
| Unit_Price | قیمت یک کیلوگرم از محصول به ریال|
| Save_Date_Time |  زمان ثبت سفارش به تاریخ شمسی |
| Send_Date |  زمان ارسال بار به تاریخ میلادی |
| Customer_ID |کد مشتری|
|  Bandel |<span dir=rtl>تعداد بندل (هر بندل برابر با ${2\pm0.05}$ تن است) که ما در محاسبات 2 تن در نظر می‌گیریم</span>|
|real_weight |  وزن واقعی فروخته شده |

In [4]:
Transaction = pd.read_excel("/kaggle/input/steel-data/Steel.xlsx", sheet_name="Transaction")
Transaction.head()

,Transaction_ID,Product_ID,Export,Industry,City_Category,Stay_In_Customer,Material_Status,Payment,Unit_Price,Save_Date_Time,Send_Date,Customer_ID,Bandel,real_weight
0,1003590,R.S.102001,0,جوش,A,1,0,2838150000,109437.418061,1400/12/23 08:47,2022-03-16,CU00047,13,25934
1,1005621,R.S.102002,1,تراش,A,1,0,16065000000,619313.801079,1400/12/21 10:10,2022-03-12,CU00079,13,25940
2,1001950,R.S.102003,1,پرچ,C,1,0,17228900000,664080.326858,1400/12/16 15:02,2022-03-08,CU00031,13,25944
3,1001724,R.S.102004,1,ساختمان,C,3,0,13972400000,637805.267723,1400/12/16 10:03,2022-03-08,CU00083,11,21907
4,1004480,R.S.102005,1,ساختمان,B,1,0,11947100000,460726.543519,1400/12/14 09:34,2022-03-09,CU00001,13,25931

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در شیت Customers شش ستون موجود است


</font>    
</p>

<ul>
<center>
<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>

| نام ستون | مقدار |
| :--: | :--: |
| Customer_ID | شناسه تراکنش |
| Province | نام استان |
| City_Category |  دسته‌بندی مکان نسبت به استان دفتر مرکزی مشتری |
|Stay_In_Customer| تعداد روزی که سفارش مشتری در کارخانه مانده است|
| Export/Import | محصول برای صادرات است  یا مصرف داخلی دارد|
| Industry_Cod | کد صنعت|

</ul>



<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این جدول کد صنعت
به‌ صورت دقیق‌تر مشخص شده که در آن کدهای 0 تا 4 نمایش دهنده صنعت ساختمان، 5 تا 9 نمایش دهنده صنعت تراش، 10 تا 13
نمایش دهنده صنعت پرچ، 14 تا 17 نمایش دهنده صنعت کشش و 18 تا 20 نمایش‌دهنده صنعت جوش است.
</font>    
</p>

In [5]:
Customer = pd.read_excel("/kaggle/input/steel-data/Steel.xlsx", sheet_name="Customer")
Customer.head()

,Customer_ID,Province,City_Category,Stay_In_Customer,Export/Import,Industry_Cod
0,CU00047,تهران,A,1,0,15
1,CU00079,تهران,A,1,1,7
2,CU00163,تهران,A,0,1,10
3,CU00051,تهران,A,1,0,20
4,CU00057,تهران,A,0,1,4

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
جدول Dimdate یک جدول کمکی است و می‌توانید از آن برای تبدیل تاریخ میلادی به شمسی و برعکس استفاده کنید. این جدول شامل اطلاعات کاملی از روزهای تقویم مانند: روز، ماه، سال، اسم ماه، روز هفته، چندمین هفته سال و ... از سال 1320 تا 1429 است.

In [6]:
dates = pd.read_excel("/kaggle/input/dimdate/Dimdate.xlsx")
dates.head()

,Miladi,Jalali_1,Jalali_2,Jalali_3,Jalali_4,Miladi.1,jyear,mmonthN,jmonthN,mmonthT,...,mnime,jnime,JquarterN,JQuarterT,MquarterN,JWeekDay,MWeekDay,MWeekNum,JWeekNum,تعطیل/غیرتعطیل
0,1941-03-21,1320/01/01,1320/1/1,20/1/1,1320.01.1,1941-03-21,1320,3,1,March,...,First Half of Year,نیمه اول سال,1,بهار,1,جمعه,Friday,12,1,NaN
1,1941-03-22,1320/01/02,1320/1/2,20/1/2,1320.01.2,1941-03-22,1320,3,1,March,...,First Half of Year,نیمه اول سال,1,بهار,1,شنبه,Saturday,12,2,NaN
2,1941-03-23,1320/01/03,1320/1/3,20/1/3,1320.01.3,1941-03-23,1320,3,1,March,...,First Half of Year,نیمه اول سال,1,بهار,1,یکشنبه,Sunday,13,2,NaN
3,1941-03-24,1320/01/04,1320/1/4,20/1/4,1320.01.4,1941-03-24,1320,3,1,March,...,First Half of Year,نیمه اول سال,1,بهار,1,دوشنبه,Monday,13,2,NaN
4,1941-03-25,1320/01/05,1320/1/5,20/1/5,1320.01.5,1941-03-25,1320,3,1,March,...,First Half of Year,نیمه اول سال,1,بهار,1,سه شنبه,Tuesday,13,2,NaN

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در ابتدا و قبل از ادغام دو دیتا فریم Transaction و Customer لازم است در مورد هر یک از ستون های دیتا فریم تصمیم بگیریم.
<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در ابتدا می‌خواهیم که در دیتا فریم نهایی تنها ستون های زیر را داشته باشیم :


*   Transaction_ID
*   Export
*   Industry
*   City_Category
*   Payment
*   Customer_ID
*   Bandel
*   real_weight
*   Province
*   Industry_Cod
*   Waste
*   Year
*   Month
*   Type
*   Class

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
 طبق توضیحات اول سوال،ستون ضایعات را در هر خرید به دیتا فریم اضافه نمایید.نام ستون ضایعات را دقیقا معادل Waste قرار دهید.
<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
ستون بندل را نیز پس از تبدیل به فرمت کیلوگرم مجددا ذخیره کنید.
<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
ستون Year  و  Month باید به میلادی باشند. برای به دست آوردن این مقادیر می‌توانید ابتدا یک ستون تاریخ Miladi  به دیتا فریم اضافه کنید.
برای به دست آوردن ستون Miladi کافیست با استفاده از ستون Save_Date_Time تاریخ میلادی معادل ارقام درون دیتافریم اصلی را به دست آورید، سپس سال و ماه را از Miladi استخراج کنید و ستون Miladi  را حذف نمایید.
</font>
</p>
<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
اکنون ستون Product_ID را بر اساس نقطه تبدیل به سه ستون جدا کنید.
ستون اول را Type و ستون دوم را Class نامگذاری کنید و ستون سوم را حذف کنید.
</font>
</p>
<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
داده های ستون پرداخت را که به ریال آمده است، بر حسب میلیارد تومن تغییر مقیاس دهید.
</font>
</p>

In [21]:
df = Transaction[['Transaction_ID', 'Product_ID', 'Export', 'Industry', 'City_Category', 
                       'Payment', 'Customer_ID', 'Save_Date_Time', 'Bandel', 'real_weight']].copy()

# Pivot
df = df.merge(Customer[['Customer_ID', 'Province', 'Industry_Cod']], 
              on='Customer_ID', 
              how='left')

# Unit Transforms
df['Payment'] = df['Payment'] * 10 ** -10
df['Bandel'] = df['Bandel'] * 2 * 10**3
df['Waste'] = df['Bandel'] - df['real_weight']

# ّFor Year and Month
df['Jalali_1'] = df['Save_Date_Time'].str.split(' ').str[0]
df = df.merge(dates[['Jalali_1', 'Miladi']], on='Jalali_1', how='left')
df['Year'] = pd.to_datetime(df['Miladi']).dt.year
df['Month'] = pd.to_datetime(df['Miladi']).dt.month
df.drop(columns=['Miladi'], inplace=True)
df.drop(columns=['Jalali_1'], inplace=True)

#Defining Class and Type
df['Type'] = df['Product_ID'].str.split('.').str[0]  
df['Class'] = df['Product_ID'].str.split('.').str[1]  
del df['Product_ID']

df.head()

,Transaction_ID,Export,Industry,City_Category,Payment,Customer_ID,Save_Date_Time,Bandel,real_weight,Province,Industry_Cod,Waste,Year,Month,Type,Class
0,1003590,0,جوش,A,0.283815,CU00047,1400/12/23 08:47,26000,25934,تهران,15,66,2022,3,R,S
1,1005621,1,تراش,A,1.606500,CU00079,1400/12/21 10:10,26000,25940,تهران,7,60,2022,3,R,S
2,1001950,1,پرچ,C,1.722890,CU00031,1400/12/16 15:02,26000,25944,آذربایجان شرقی,12,56,2022,3,R,S
3,1001724,1,ساختمان,C,1.397240,CU00083,1400/12/16 10:03,22000,21907,آذربایجان شرقی,4,93,2022,3,R,S
4,1004480,1,ساختمان,B,1.194710,CU00001,1400/12/14 09:34,26000,25931,اصفهان,0,69,2022,3,R,S

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
حالا که داده‌های مرتب و استانداردی داریم از شما می‌خواهیم که به سوالات زیر پاسخ دهید.
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
می‌خواهیم بدانیم که در هر سال و در هر ماه آن سال میزان فروش به ازای واردات و به ازای صادرات چقدر بوده است. توجه کنید که سال و ماه ایندکس دیتا فریم باشند.
</font>

In [50]:
Sales = (
    df.groupby(['Year', 'Month', 'Export'])['Payment']
    .sum()
    .unstack('Export')  
    .rename(columns={0: 'Import_Sales', 1: 'Export_Sales'})  
    
)

# Idnetifing the indexes
Sales.index.names = ['Year', 'Month']

#Print
print(Sales.head())

Export      Import_Sales  Export_Sales
Year Month
2019 3         112.62353     388.40085
     4        3877.70945   12906.48373
     5        4336.27345   14330.60550
     6        3414.72087   11443.02170
     7        5029.53574   15807.34280

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
ده مشتری که بیشترین میزان خرید را داشته اند، به همراه تعداد دفعات خرید و مجموع نخاله ی تولیدی هر کدام را می‌خواهیم.
<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
این جدول باید بر حسب مجموع فروش به صورت نزولی مرتب شود.
</font>

In [23]:
Customers = (
    df.groupby('Customer_ID')
    .agg(
        Total_Payment=('Payment', 'sum'),  
        Purchase_Count=('Transaction_ID', 'count'), 
        Total_Waste=('Waste', 'sum')            
    )
    .sort_values(by='Total_Payment', ascending=False)  
    .head(10)  
)

print(Customers)

             Total_Payment  Purchase_Count  Total_Waste
Customer_ID
CU00023        3984.895920            3149       267497
CU00025        3973.675250            3220       274573
CU00033        3965.757650            3306       281501
CU00121        3961.633390            3226       274715
CU00042        3961.324220            3153       268965
CU00115        3955.172240            3173       269558
CU00006        3946.778040            3169       272183
CU00056        3932.243960            3248       276504
CU00119        3924.168310            3198       275012
CU00086        3909.184615            3154       268767

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
می‌خواهیم بدانیم هر کدام از صنعت‌ها( یعنی صنعت تراش، جوش، ساختمان، پرچ و کشش) در هر زیربخش تایپ و کلاس تولیدی چقدر فروش داشته، چه مقدار ضایعات تولید کرده و چه تعداد فروش داشته‌ است.
</font>
</p>

In [24]:
# Grouping by the question
Industries = (
    df.groupby(['Industry', 'Type', 'Class'])
    .agg(
        Total_Sales=('Payment', 'sum'),       
        Total_Waste=('Waste', 'sum'),        
        Sale_Count=('Transaction_ID', 'count') 
    )
    .reset_index()  
)

# Displaying the final table
print(Industries)

   Industry Type Class    Total_Sales  Total_Waste  Sale_Count
0      تراش    R    NS   18375.667530      1300133       15261
1      تراش    R     S   28714.450050      2008561       23636
2      تراش    w     S   73206.347230      5145415       60605
3       جوش    R    NS   20466.210550      1389764       16333
4       جوش    R     S   31045.327075      2096386       24677
5       جوش    w     S   80128.746687      5441131       63878
6   ساختمان    R    NS   42826.709120      3073275       36116
7   ساختمان    R     S   64780.002982      4655752       54796
8   ساختمان    w     S  169059.542450     12132941      142698
9       پرچ    R    NS   12191.450060       831532        9757
10      پرچ    R     S   18525.906770      1282743       15071
11      پرچ    w     S   47127.900980      3285344       38595
12      کشش    R    NS    8799.718550       643128        7576
13      کشش    R     S   13236.022060       977759       11508
14      کشش    w     S   34002.783365      2516497       29561

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
می‌خواهیم بدانیم که در هر سال، هر کدام از استان‌ها مجموعا چه مقدار خرید کرده است. همچنین تعداد خریدها و مجموع ضایعات تولید شده را نیاز داریم.
</font>
</p>

In [25]:
Provinces = (
    df.groupby(['Year', 'Province'])
    .agg(
        Total_Sales=('Payment', 'sum'),  
        Total_Waste=('Waste', 'sum'),        
        Purchase_Count=('Transaction_ID', 'count')  
    )
    
)

# Print
print(Provinces)

                      Total_Sales  Total_Waste  Purchase_Count
Year Province
2019 آذربایجان شرقی   6872.733520       482517            5655
     اردبیل           6915.076650       488813            5760
     اصفهان          11453.073220       808842            9503
     بندرعباس        10731.201260       761924            8959
     تهران           39955.313490      2812958           33067
     خراسان جنوبی    12732.774440       876003           10292
     خوزستان          7860.298890       554990            6511
     سمنان            9833.136930       684367            8066
     سیستان          13739.441480       968521           11406
     مازندران        13601.189270       950833           11226
     مرکزی            7696.463370       547884            6429
     همدان            4734.970100       337428            3972
     کرمانشاه         8737.955740       621520            7271
     گلستان           8861.614000       624562            7326
     یزد              7490.419640       535079            6283
2020 آذربایجان شرقی   8669.264850       602812            7085
     اردبیل           8643.393880       613576            7239
     اصفهان          14750.543580      1033788           12172
     بندرعباس        13213.398620       943477           11116
     تهران           50575.525300      3579916           42010
     خراسان جنوبی    15840.083980      1123440           13205
     خوزستان          9680.147020       690412            8135
     سمنان           12424.742040       872331           10270
     سیستان          17050.890430      1202988           14143
     مازندران        17255.535700      1219910           14366
     مرکزی            9852.101530       697602            8202
     همدان            6054.923790       419774            4944
     کرمانشاه        10894.197990       772631            9110
     گلستان          11163.591910       783804            9224
     یزد              9832.852490       685847            8071
2021 آذربایجان شرقی   6756.703980       468685            5502
     اردبیل           6656.196050       464856            5485
     اصفهان          11146.321730       793857            9288
     بندرعباس        10251.378420       734162            8666
     تهران           38495.794245      2737064           32158
     خراسان جنوبی    12277.658530       874502           10316
     خوزستان          7595.010820       532992            6247
     سمنان            9514.157260       669801            7888
     سیستان          13044.709120       925614           10893
     مازندران        13080.105050       924778           10851
     مرکزی            7429.078040       527090            6195
     همدان            4625.259710       329206            3885
     کرمانشاه         8478.594160       594968            7014
     گلستان           8494.090130       601959            7103
     یزد              7731.409810       543547            6410
2022 آذربایجان شرقی   4376.029620       305413            3587
     اردبیل           4423.498554       308100            3599
     اصفهان           7339.529705       521904            6142
     بندرعباس         6889.744390       491854            5793
     تهران           25992.210565      1811325           21288
     خراسان جنوبی     7902.971560       566839            6658
     خوزستان          5043.037760       358688            4211
     سمنان            6283.706580       442575            5169
     سیستان           8668.885340       623051            7319
     مازندران         8560.180440       601875            7066
     مرکزی            5111.689180       362216            4275
     همدان            3057.754940       219995            2576
     کرمانشاه         5435.208970       385835            4545
     گلستان           5704.737210       395912            4655
     یزد              5004.278480       363149            4266

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
میلگرد در صنعت می‌تواند به صورت شاخه یا کلاف تولید شود میلگرد شاخه همان‌طور که از نامش پیداست بصورت شاخه و میلگرد کلاف نیز بصورت کلاف به هم پیچیده شده است. ستون تایپ نشان دهنده این است که محصول تولیدی به صورت شاخه بوده یا کلاف. R نماد شاخه و W نماد کلاف است.می‌خواهیم بدانیم برای هر City Category  برای نوع شاخه و کلاف و کلاس‌های آن مجموعا چند کیلوگرم محصول تولید کرده‌ایم.

In [31]:
# Grouping by City_Category, Type, and Class, and calculating total weight produced
Rw = (
    df.groupby(['City_Category', 'Type', 'Class'])
    .agg(
        Total_Weight=('real_weight', 'sum')  # Total weight produced
    )
    .reset_index()  # Resetting index for better display
)

# Filtering rows where Type is either R (Branch) or W (Coil)
Rw = Rw[Rw['Type'].isin(['R', 'W'])]

# Displaying the final table
print(Rw)

  City_Category Type Class  Total_Weight
0             A    R    NS     551916537
1             A    R     S     845970773
3             B    R    NS     869707675
4             B    R     S    1317519235
6             C    R    NS     638447956
7             C    R     S     978310791


<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
همان‌طور که می‌دانید چارک اصطلاحی آماری است و شامل سه نقطه است که مجموعه ای از داده‌ها را به چهار قسمت تقسیم می‌کنند. بنابراین، سه چارک، با نام‌های چارک اول، چارک دوم وچارک سوم وجود دارد که به ترتیب با Q1 ، Q2  و Q3 نشان داده می‌شوند.
برای یافتن چارک‌ها، داده‌ها باید به ترتیب از کم به زیاد مرتب شوند. Q1  که چارک اول یا چارک پایین است داده‌ای است که 25 درصد مشاهدات از آن کوچکتر است. Q2  یا چارک دوم، چیزی جز میانه نیست. میانه نقطه ای که داده‌ها را به دو قسمت تقسیم می‌کند به طوری که 50 درصد مشاهدات از آن کوچک‌تر و 50 درصد بزرگ‌تر باشند.  Q3نیز چارک سوم یا بالایی است. 25 درصد مشاهدات از آن بزرگ‌تر و 75 درصد از آن کوچک‌تر هستند.
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
اکنون لازم است تا مقادیر دو ستون قیمت را دسته بندی کنیم. برای این داده‌ها لازم است که آن‌ها را به سه بخش تبدیل کنیم.
 قیمت هایی که اکیدا کمتر از چارک اول هستند را Low، داده‌های بین چارک اول و سوم را Med و قیمت‌های بالای چارک سوم را نیز High طبقه بندی کرده و در ستون PriceLevel ذخیره کنید.
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
برای این کار لازم است تابعی تحت عنوان Categorize تعریف کرده و با دستور apply آن را بر روی دیتافریم اجرا کنید.
</font>
</p>

<details dir="rtl">
<summary dir="rtl">راهنمایی</summary>
چارک اول و سوم با دستور quantile(0.25) و quantile(0.75) قابل دسترسی خواهند بود.
</details>

In [34]:
Q1 = df['Payment'].quantile(0.25)
Q3 = df['Payment'].quantile(0.75)

def Categorize(x):
    if x < Q1:
        return 'Low'
    elif Q1 <= x <= Q3:
        return 'Med'
    else:
        return 'High'

In [39]:
df['PriceLevel'] = df['Payment'].apply(Categorize)

print(df)

        Transaction_ID  Export Industry City_Category   Payment Customer_ID  \
0              1003590       0      جوش             A  0.283815     CU00047
1              1005621       1     تراش             A  1.606500     CU00079
2              1001950       1      پرچ             C  1.722890     CU00031
3              1001724       1  ساختمان             C  1.397240     CU00083
4              1004480       1  ساختمان             B  1.194710     CU00001
...                ...     ...      ...           ...       ...         ...
550063         1002006       1  ساختمان             A  0.706640     CU00012
550064         1002361       1     تراش             B  1.028470     CU00160
550065         1003039       0  ساختمان             C  1.238940     CU00095
550066         1004401       1  ساختمان             A  1.409200     CU00033
550067         1005539       0      کشش             B  0.215280     CU00064

          Save_Date_Time  Bandel  real_weight        Province  Industry_Cod  \
0       1400/12/23 08:47   26000        25934           تهران            15
1       1400/12/21 10:10   26000        25940           تهران             7
2       1400/12/16 15:02   26000        25944  آذربایجان شرقی            12
3       1400/12/16 10:03   22000        21907  آذربایجان شرقی             4
4       1400/12/14 09:34   26000        25931          اصفهان             0
...                  ...     ...          ...             ...           ...
550063  1398/11/07 16:41   26000        25946           مرکزی             4
550064  1399/04/18 10:15   26000        25905       مازندران              9
550065  1398/05/12 12:01   26000        25940             یزد             4
550066  1398/03/12 09:46   26000        25939        بندرعباس            20
550067  1400/07/19 14:40   26000        25898        بندرعباس            12

        Waste  Year  Month Type Class PriceLevel
0          66  2022      3    R     S        Low
1          60  2022      3    R     S        Med
2          56  2022      3    R     S       High
3          93  2022      3    R     S        Med
4          69  2022      3    R     S        Med
...       ...   ...    ...  ...   ...        ...
550063     54  2020      1    w     S        Med
550064     95  2020      7    w     S        Med
550065     60  2019      8    w     S        Med
550066     61  2019      6    w     S        Med
550067    102  2021     10    w     S        Low

[550068 rows x 17 columns]

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
سپس باید با استفاده از دستور فیلتر، بخشی از دیتافریم که مربوط به کدهای صنعتی‌ای که دارای تعداد فروش بیشتر از 50000 عدد می‌باشند را در متغیر Indfilter ذخیره کنید.
</font>
</p>

In [47]:
Indfilter = df.groupby('Industry_Cod')['Transaction_ID'].count().reset_index()
Indfilter.columns = ['Industry_Cod', 'Sale_Count']

Indfilter = Indfilter[Indfilter['Sale_Count'] > 50000]['Industry_Cod']

Indfilter = df[df['Industry_Cod'].isin(Indfilter)]

print(Indfilter.head())

    Transaction_ID  Export Industry City_Category  Payment Customer_ID  \
2          1001950       1      پرچ             C  1.72289     CU00031
3          1001724       1  ساختمان             C  1.39724     CU00083
4          1004480       1  ساختمان             B  1.19471     CU00001
8          1002950       1  ساختمان             C  1.90656     CU00155
10         1000049       1      پرچ             C  2.27001     CU00014

      Save_Date_Time  Bandel  real_weight        Province  Industry_Cod  \
2   1400/12/16 15:02   26000        25944  آذربایجان شرقی            12
3   1400/12/16 10:03   22000        21907  آذربایجان شرقی             4
4   1400/12/14 09:34   26000        25931          اصفهان             0
8   1400/12/09 11:57   26000        25929          اردبیل             0
10  1400/11/30 09:37   26000        25947          اردبیل            12

    Waste  Year  Month Type Class PriceLevel
2      56  2022      3    R     S       High
3      93  2022      3    R     S        Med
4      69  2022      3    R     S        Med
8      71  2022      2    R     S       High
10     53  2022      2    w     S       High

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
به عنوان آخرین بخش کار لازم است میانگین نخاله‌ی صنعت ساختمانی در سال ۲۰۲۰ برای خرید‌های با قیمت بالا به ازای هر مقدار بندل را گزارش دهید.
</font>
</p>

In [66]:
w2020 = df[
    (df['Industry'] == 'ساختمان') & 
    (df['Year'] == 2020) & 
    (df['PriceLevel'] == 'High') & 
    (df['Bandel'] > 0)
]

if not w2020.empty and w2020['Bandel'].sum() > 0:
    avg_waste_per_bandel = (w2020['Waste'].sum()) / (w2020['Bandel'].sum())
else:
    avg_waste_per_bandel = 0

avg_waste_per_bandel

0

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) تا در صورت نیاز به پشتیبانی امکان بررسی کد شما وجود داشته باشد.
</font>
</p>

In [68]:
import zlib
import zipfile
import joblib

df = df.head(100)
df.to_csv("df.csv", header=False)
Sales.to_csv('Sales.csv',header=False)
Customers.to_csv('Customers.csv',header=False)
Industries.to_csv('Industries.csv',header=False)
Provinces.to_csv('Provinces.csv',header=False)
Rw.to_csv('Rw.csv',header=False)
Indfilter.to_csv('Indfilter.csv',header=False)
w2020.to_csv('w2020.csv', header=False)

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

file_names = ["df.csv", "Sales.csv", "Customers.csv", "Industries.csv", "Provinces.csv", "Rw.csv", "Indfilter.csv", "w2020.csv"]
compress(file_names)

File Paths:
['df.csv', 'Sales.csv', 'Customers.csv', 'Industries.csv', 'Provinces.csv', 'Rw.csv', 'Indfilter.csv', 'w2020.csv']